.app-slider {
  margin-top: 20px;
}
.latest-products {
  margin-top: 20px;
}
.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.products-pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
